body{
    background-color: #d6d2c4;
}
.jumbotron{
    display: flex;
    flex-direction: row;
    background-image: url("open.jpg");  
}
.jumbotron h3{
    color: orange;
}
.jumbotron ul{
    margin-left: auto;
    margin-right: 10%;
}
.jumbotron ul li{
    list-style: none;
    display: inline;
}
.jumbotron ul li:hover{
    transform: scale(1.7);
}
.jumbotron ul li a{
    margin: 15px;
    text-decoration: none;
    color: #ffffff;
    border-left: none;
    font-size: 20px;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ffffff;
    padding: 2px;
}
.jumbotron ul li a:hover{
    color: orange;
    transform: scale(1.9);
    border: none;

}
.news{
    height: fit-content;
}
.Release table{
    border: 1px solid black;
}
.Release table thead {
    background-color: brown;
}
.Release table thead th{
    text-align: center;
    color: white;
    border: 1px solid black;
    padding: 5px;
}
.Release table tbody td{
    text-align: center;
    border: 1px solid black;
}
.Release table tbody tr:nth-child(even){
 background-color: orange;
}
.Release table tbody tr:nth-child(odd){
    background-color: #ffffff;
   }
span{
    color: #c24914;
    font-weight: bold;
}
.Market{
    justify-content: center;
    align-items: center;
    /* height: 450px; */
    
    /* overflow-y: scroll;
    border-radius: 20px; */
}
.Market table {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
}
.Market table thead{
   background-color: #f05454;
    color: wheat;
}
.Market table tbody tr:nth-child(even){
    background-color: #839b97;
}
.Market table tbody tr:nth-child(odd){
    background-color: #ffffff;
}
.Market table thead th, table tbody td{
    border: 1px solid black;
    text-align: center;
}

.container{
    margin-bottom: 20px;
    height: fit-content;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.footer .first li , .second li{
    list-style: none;
}
.footer .first ul li a , .second  ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer .first ul{
    margin-right: 20%;
    border-right: 1px solid #ffffff;
    width: 300px;
}
.footer .first ul li a:hover , .second  ul li a:hover{
    cursor: pointer;
    color: orange;
    transform: scale(1.1);
    transition: .5s;
}
#burger{
    display: none;
}
.Trending p {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap; 
}
.Trending p span{
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: white;
    margin: 2px;
}
.Trending p span:hover{
    background-color: orangered;
    cursor: pointer;
    transform: scale(1.2);
    color: #ffffff;
}
.content{
    width: 45%;
    height: 400px;
    display: flex;
    justify-content: center; 
    /* align-items: center;  */
    flex-direction: column;
    padding: 30px;
}
.outer{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-self: center;
}
.style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.side-image{
    width: 45%;
    height: 400px;
    padding: 5px;
}
.privacy-cover{
    background-color: #ffffff;
    padding: 20px;
    margin: 50px;
}











@media (max-width:800px){
    .jumbotron h3{
        font-size: 20px;
    }
    .container{
        background-color: #d6d2c4;
    }
    .Release table thead th, .Release table tbody td{
        font-size: small;
        padding: 0px;
    }
    .Market table thead th, .Market table tbody td{
        padding: 1px;
        font-size: small;
    }
    .Market{
        overflow-x: scroll;
    }
    .footer .first ul{
        padding-right: 5px;
        border: none;
    }
    .footer .first ul li a,.footer .second ul li a{
        font-size: 15px;
    }
    .jumbotron{
        width: fit-content;
    }
    .jumbotron ul li a{
        font-size: 10px;
    }
    .content{
        width: 80%;
    }
}



@media (max-width:500px){
    .side-image{
        display: none;
    }
}