body{
    background-color: #d6d2c4;
}
.news{
    height: fit-content;
}
.Release table{
    border: 1px solid black;
}
.Release table thead {
    background-color: brown;
}
.Release table thead th{
    text-align: center;
    color: white;
    border: 1px solid black;
    padding: 5px;
}
.Release table tbody td{
    text-align: center;
    border: 1px solid black;
}
.Release table tbody tr:nth-child(even){
 background-color: orange;
}
.Release table tbody tr:nth-child(odd){
    background-color: #ffffff;
   }
span{
    color: #c24914;
    font-weight: bold;
}
.Market{

    justify-content: center;
    align-items: center;
    height: 450px;
    width: fit-content;
    overflow-y: scroll;
}
.Market table {
    border: 1px solid black;
    border-radius: 20px;
}
.Market table thead{
   background-color: #f05454;
    color: wheat;
}
.Market table tbody tr:nth-child(even){
    background-color: #839b97;
}
.Market table tbody tr:nth-child(odd){
    background-color: #ffffff;
}
.Market table thead th, table tbody td{
    border: 1px solid black;
    text-align: center;
}
.historical{
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.container{
    margin-bottom: 20px;
    height: 1000px;
}
footer{
    margin-top: auto;
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
